//Convertir px en em
$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

//Mixins reponsive pour Materialize

@mixin col-md {
  @media (max-width: 991px) {
    @content;
  }
}

@mixin col-sm {
  @media (max-width: 599px) {
    @content;
  }
}

//:::::::::::::::::::::::::::::::::::::::::::::
//::::::::::::::Charte éditoriale::::::::::::::
//:::::::::::::::::::::::::::::::::::::::::::::

//Variables
$turquoise: #bcd5d1;
$brun-fonce: #1d2120;
$kaki: rgba(90, 92, 81, 1);
$saumon: #ba9077;

//Fonts
html body {
  font-family: 'Varela Round', sans-serif;
  color: #1d2120;
  font-size: 16px;
}

//:::::::::::::::::::::::::::::::::::::::::::::
//:::::::::::::::::::Divers::::::::::::::::::::
//:::::::::::::::::::::::::::::::::::::::::::::

body {
  *:focus {
    outline: none;
  }
  a {
    outline: 0;
  }
  img{
  max-width: none;
  }
  .container {
    .row {
      margin-top: 0;
      margin-bottom: 0;
    }
    .no-row {
      margin-left: 0;
      margin-right: 0;
      .col {
        padding: 0
      }
    }

    .select-wrapper input.select-dropdown {
    border-bottom: 1px solid #ccc;
    margin: 1.25em 0;
    border-radius: 0;
  }

    input[type=text]:focus:not([readonly]),
    input[type=email]:focus:not([readonly]),
    input[type=search]:focus:not([readonly]){
      border-bottom: 1px solid $turquoise;
      box-shadow: 0 1px 0 0 $turquoise;
    }

    input[type=button] {
      background: none;
      box-shadow: none;
      padding: 1em 2em;
      border: 1px solid $kaki;
      color: $brun-fonce;
      transition: .2s;
      font-size: 1em;
      border-radius: 0;
      &:hover {
        background-color: $saumon;
        border-color: transparent;
      }
    }
  }
}


//:::::::::::::::::::::::::::::::::::::::::::::
//:::::::::::::::Règles de style:::::::::::::::
//:::::::::::::::::::::::::::::::::::::::::::::

//>>>>>>>>header et navigation<<<<<<<<

header {
  .slider {
    position: relative;
    height: 100vh;
    .overlay {
      z-index: 1;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: url(https://d3k5xyayaartr5.cloudfront.net/_assets/pattern-overlays/patterns/white-fly-screen.png);
      background-repeat: repeat;
      opacity: 0.05;
    }
    .bandeau {
      background-color: #bcd5d1;
      width: 100%;
      z-index: 1;
      top: em(60);
      height: em(85);
      position: absolute;
      .wrapper {
        height: em(85);
        position: relative;
        object, img {
          filter: drop-shadow( 1px 1px 1px #000 );
          display: block;
          height: em(150);
          z-index: 1;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
  .header_secondaire {
    position: relative;
    height: em(600);
    .wrapper{
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    img.wp-post-image {
      position: absolute;
      min-width: 100%;
      height: auto;
      min-height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  nav {
    transition: .2s;
    z-index: 2;
    position: absolute;
    bottom: 0;
    background-color: transparent;
    box-shadow: none;
    height: em(80);
    .button-collapse {
      color: #d1d1d1
    }
    &.nav_fixe{
      position: fixed;
      top: 0;
      background-color: $kaki;
    }
    .button-collapse {
      &:hover {
        color: #d1d1d1;
      }
    }
    .side-nav {
      ul {
        li {
          color: #1d2120;
          text-shadow: none;
          a:visited {
            color: #1d2120;
          }
          a:hover {
            color: #363a39;
          }
        }
      }
    }
    ul {
      li {
        text-transform: uppercase;
        line-height: em(80);
        text-shadow: 1px 1px 3px rgba(150, 150, 150, 1);
        a:visited {
          color: #fff;
        }
        a:hover {
          color: #d1d1d1;
        }
      }
    }
    img {
      height: 80px;
    }
  }

  .owl-theme {
    .owl-controls {
      .owl-buttons {
        .owl-prev {
          background: none;
          z-index: 2;
          position: absolute;
          margin: 0;
          padding: 0;
          top: 50%;
          left: em(20);
          font-size: em(40);
          text-shadow: 1px 1px 3px rgba(150, 150, 150, 1);
          span {
            transform:scale(1,2);
            -webkit-transform:scale(1,2);
            display:inline-block;
          }
        }
        .owl-next {
          background: none;
          z-index: 2;
          position: absolute;
          margin: 0;
          padding: 0;
          top: 50%;
          right: em(20);
          font-size: em(40);
          text-shadow: 1px 1px 3px rgba(150, 150, 150, 1);
          span {
            transform:scale(1,2);
            -webkit-transform:scale(1,2);
            display:inline-block;
          }
        }
      }
    }
  }
  .owl-wrapper-outer {
    height: 100vh;
    overflow: hidden;
    .owl-wrapper {
      height: 100vh;
      overflow: hidden;
      .owl-item {
        height: 100vh;
        overflow: hidden;
        img {
          height: 100vh;
          min-height: calc(100vw * 0.555);
          width: 100%;
          min-width: calc(100vh * 1.8);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}

#sidenav-overlay {
  z-index: 1
}

//>>>>>>>>Contenu<<<<<<<<
main {
  form {
    position: relative;
    input[type="search"] {
      border: none;
      border-bottom: 1px solid #ccc;
      margin: em(20) 0;
      border-radius: 0;
    }
    button[type="submit"] {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 0;
      background: none;
      border: none;
      box-shadow: none;
      transition: .2s;
      &:hover {
        color: $turquoise;
      }
    }
  }

  .entry-header, .page-header {
    margin: em(40) 0;
    background-color: $turquoise;
    text-transform: uppercase;
    height: em(85);
    position: relative;
    h2 {
      font-size: em(24);
      margin: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .card_artiste {
    height: 600px;
    img {
      width: auto;
      height: 100%;
      z-index: -1;
    }
  }

  .accueil_spectacles {
    margin-top: 8em;
    .col {
      height: em(700);
    }
    div:nth-of-type(1n) {
      .card_artiste {
        margin-top: em(-30);
      }
    }
    div:nth-of-type(2n) {
      .card_artiste {
        margin-top: em(30);
      }
    }
    .card_artiste {
      height: em(475);
      overflow: hidden;
      position: relative;
      img {
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        width: auto;
        height: 100%;
      }
      .card_overlay {
        transition: .2s;
        background-color: rgba(90, 92, 81, .85);
        padding: 1em 1em 2em;
        position: absolute;
        z-index: 1;
        top: 102%;
        left: 0;
        right: 0;
        bottom: 0;
        .wrapper {
          position: relative;
          border: 1px solid $turquoise;
          height: 100%;
        }
        h3.card_info {
          margin: 0;
          font-size: em(20);
          color: $turquoise;
          text-transform: uppercase;
          span.card_titre {
            display: inline-block;
            margin-top: 1em;
            position: relative;
            &:before {
              content: "";
              position: absolute;
              width: 80%;
              bottom: em(-15);
              left: 10%;
              border-bottom: 2px solid $turquoise;
            }
          }
          div.card_date {
            margin-top: em(30);
            span.card_jour {
              font-size: em(31);
            }
            span.card_mois {
            }
          }
        }
        a.btn {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, 50%);
          background-color: $turquoise;
          color: $brun-fonce;
          &:hover {
            background-color: $saumon;
          }
        }
      }
      &:hover {
        .card_overlay {
          top: 0;
        }
      }
    }
  }
  .voir_plus {
    margin-bottom: 4em;
    a {
      padding: 1em 2em;
      border: 1px solid $kaki;
      color: $brun-fonce;
      transition: .2s;
      &:hover {
        background-color: $saumon;
        border-color: transparent;
      }
    }
  }

  //Contact
  .row.row-contact {
    margin: em(150) 0 em(100);
    .contact-content {
      div:nth-of-type(1n) {
        .card_contact {
          margin-top: em(-30);
        }
      }
      div:nth-of-type(2n) {
        .card_contact {
          margin-top: em(30);
        }
      }
      .card_contact {
        h3 {
          margin-top: 0;
          font-size: em(22);
        }
        .img_contact {
          box-shadow: inset 0px 0px 123px 9px rgba(0,0,0,0.75);
          position: relative;
          height: 250px;
          overflow: hidden;
          img {
            z-index: -1;
            position: absolute;
            width: auto;
            min-width: 100%;
            height: 100%;
            left: 50%;
            transform: translateX(-50%);
          }
        }
        .wrapper {
          background-color: rgba(90, 92, 81, .1); ;
          padding: 1.5em;
          input[type=text], input[type=email], textarea {
            background-color: rgba(90, 92, 81, .05); ;
          }

        }
        .contact_info {
          color: #fff;
          background-color: $saumon;
          padding: 1.5em;
          min-height: em(400);
          ul {
            margin: 0;
            a {
              color: #fff;
              border-bottom: 1px solid rgba(255,255,255,.5);
              transition: .2s;
              &:hover {
                border-bottom: 1px solid rgba(255,255,255, 1);
              }
            }
          }
        }
      }
    }
  }
}

//Programmation
.row {
  .dropdown-content li>a, .dropdown-content li>span {
    color: $brun-fonce;
  }
}

  .acf-map {
    width: 100%;
    height: 100%;
    position: relative;
  }

//>>>>>>>>footer<<<<<<<<
footer {
  font-size: em(14);
  color: $turquoise;
  background-color: $brun-fonce;
  padding: em(60) 0 em(80);
  .wrapper {
    border: 1px solid $turquoise;
    position: relative;
    padding: em(15) em(80) em(60);
    h4 {
      font-size: em(14);
      text-transform: uppercase;
      border-bottom: 1px solid $turquoise;
      padding-bottom: em(5);
    }
    ul {
      margin: 0;
      a {
        color: $turquoise;
        border-bottom: 1px solid rgba(188,213,209,.5);
        transition: .2s;
        &:hover {
          border-bottom: 1px solid rgba(188,213,209, 1);
        }
      }
    }
    .social {
      display: inline-block;
      margin-top: em(20);
      i {
        margin-left: em(5);
        width: em(30);
        height: em(30);
        border: 2px solid $turquoise;
        border-radius: 50%;
        line-height: em(30);
        text-align: center;
        transition: .2s;
        transition: .2s;
        color: $turquoise;
        font-size: em(22);
        &:hover {
          color: $saumon;
          border: 2px solid $saumon;
        }
      }
    }
    .logo_simple {
      position:absolute;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%);
      background-color: $brun-fonce;
      width: em(150);
      text-align: center;
      object, img {
        width: 75%;
        height: auto;
      }

    }
  }
}
//:::::::::::::::::::::::::::::::::::::::::::::
//:::::::::::::::::Responsive::::::::::::::::::
//:::::::::::::::::::::::::::::::::::::::::::::

@include col-md {
  header {
    .slider {
      nav {
        height: em(60);
        img {
          height: em(30);
        }
      }
    }
  }
  footer {
    .wrapper {
      padding: em(15) em(40) em(80);
    }
  }
}

@include col-sm {
  footer {
    .col{
      margin-bottom: 1em;
    }
    .social.right {
      float: none !important;
    }
  }
}