/*!
Theme Name: grand-regis
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: grand-regis
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

grand-regis is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  clear: both; }

p {
  margin-bottom: 1.5em; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem; }

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark, ins {
  background: #fff9c0;
  text-decoration: none; }

big {
  font-size: 125%; }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit; }

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */ }

blockquote, q {
  quotes: "" ""; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: ""; }

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

ul, ol {
  margin: 0 0 1.5em 3em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

figure {
  margin: 1em 0;
  /* Extra wide images within figure tags don't overflow the content area. */ }

table {
  margin: 0 0 1.5em;
  width: 100%; }

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: .6em 1em .4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); }
  button:hover,
  input[type="button"]:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover {
    border-color: #ccc #bbb #aaa;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02); }
  button:active, button:focus,
  input[type="button"]:active,
  input[type="button"]:focus,
  input[type="reset"]:active,
  input[type="reset"]:focus,
  input[type="submit"]:active,
  input[type="submit"]:focus {
    border-color: #aaa #bbb #bbb;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15); }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  input[type="number"]:focus,
  input[type="tel"]:focus,
  input[type="range"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="time"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="color"]:focus,
  textarea:focus {
    color: #111; }

select {
  border: 1px solid #ccc; }

textarea {
  width: 100%; }

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: royalblue; }
  a:visited {
    color: purple; }
  a:hover, a:focus, a:active {
    color: midnightblue; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%; }
  .main-navigation ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0; }
    .main-navigation ul ul {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      float: left;
      position: absolute;
      top: 1.5em;
      left: -999em;
      z-index: 99999; }
      .main-navigation ul ul ul {
        left: -999em;
        top: 0; }
      .main-navigation ul ul li:hover > ul, .main-navigation ul ul li.focus > ul {
        left: 100%; }
      .main-navigation ul ul a {
        width: 200px; }
    .main-navigation ul li:hover > ul,
    .main-navigation ul li.focus > ul {
      left: auto; }
  .main-navigation li {
    float: left;
    position: relative; }
  .main-navigation a {
    display: block;
    text-decoration: none; }

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block; }

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none; }

  .main-navigation ul {
    display: block; } }
.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden; }
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%; }
.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%; }

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0; }

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed; }

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both; }

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets. */ }
  .widget select {
    max-width: 100%; }

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block; }

.hentry {
  margin: 0 0 1.5em; }

.byline,
.updated:not(.published) {
  display: none; }

.single .byline,
.group-blog .byline {
  display: inline; }

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word; }

.bypostauthor {
  display: block; }

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block; }

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%; }

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .wp-caption .wp-caption-text {
    margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }
  .gallery-columns-2 .gallery-item {
    max-width: 50%; }
  .gallery-columns-3 .gallery-item {
    max-width: 33.33%; }
  .gallery-columns-4 .gallery-item {
    max-width: 25%; }
  .gallery-columns-5 .gallery-item {
    max-width: 20%; }
  .gallery-columns-6 .gallery-item {
    max-width: 16.66%; }
  .gallery-columns-7 .gallery-item {
    max-width: 14.28%; }
  .gallery-columns-8 .gallery-item {
    max-width: 12.5%; }
  .gallery-columns-9 .gallery-item {
    max-width: 11.11%; }

.gallery-caption {
  display: block; }

/*--------------------------------------------------------------
# Custom style
--------------------------------------------------------------*/
html body {
  font-family: 'Varela Round', sans-serif;
  color: #1d2120;
  font-size: 16px; }

body *:focus {
  outline: none; }
body a {
  outline: 0; }
body img {
  max-width: none; }
body .container .row {
  margin-top: 0;
  margin-bottom: 0; }
body .container .no-row {
  margin-left: 0;
  margin-right: 0; }
  body .container .no-row .col {
    padding: 0; }
body .container .select-wrapper input.select-dropdown {
  border-bottom: 1px solid #ccc;
  margin: 1.25em 0;
  border-radius: 0; }
body .container input[type=text]:focus:not([readonly]),
body .container input[type=email]:focus:not([readonly]),
body .container input[type=search]:focus:not([readonly]) {
  border-bottom: 1px solid #bcd5d1;
  box-shadow: 0 1px 0 0 #bcd5d1; }
body .container input[type=button] {
  background: none;
  box-shadow: none;
  padding: 1em 2em;
  border: 1px solid #5a5c51;
  color: #1d2120;
  transition: .2s;
  font-size: 1em;
  border-radius: 0; }
  body .container input[type=button]:hover {
    background-color: #ba9077;
    border-color: transparent; }

header .slider {
  position: relative;
  height: 100vh; }
  header .slider .overlay {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(https://d3k5xyayaartr5.cloudfront.net/_assets/pattern-overlays/patterns/white-fly-screen.png);
    background-repeat: repeat;
    opacity: 0.05; }
  header .slider .bandeau {
    background-color: #bcd5d1;
    width: 100%;
    z-index: 1;
    top: 3.75em;
    height: 5.3125em;
    position: absolute; }
    header .slider .bandeau .wrapper {
      height: 5.3125em;
      position: relative; }
      header .slider .bandeau .wrapper object, header .slider .bandeau .wrapper img {
        filter: drop-shadow(1px 1px 1px #000);
        display: block;
        height: 9.375em;
        z-index: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
header .header_secondaire {
  position: relative;
  height: 37.5em; }
  header .header_secondaire .wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden; }
  header .header_secondaire img.wp-post-image {
    position: absolute;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
header nav {
  transition: .2s;
  z-index: 2;
  position: absolute;
  bottom: 0;
  background-color: transparent;
  box-shadow: none;
  height: 5em; }
  header nav .button-collapse {
    color: #d1d1d1; }
  header nav.nav_fixe {
    position: fixed;
    top: 0;
    background-color: #5a5c51; }
  header nav .button-collapse:hover {
    color: #d1d1d1; }
  header nav .side-nav ul li {
    color: #1d2120;
    text-shadow: none; }
    header nav .side-nav ul li a:visited {
      color: #1d2120; }
    header nav .side-nav ul li a:hover {
      color: #363a39; }
  header nav ul li {
    text-transform: uppercase;
    line-height: 5em;
    text-shadow: 1px 1px 3px #969696; }
    header nav ul li a:visited {
      color: #fff; }
    header nav ul li a:hover {
      color: #d1d1d1; }
  header nav img {
    height: 80px; }
header .owl-theme .owl-controls .owl-buttons .owl-prev {
  background: none;
  z-index: 2;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 50%;
  left: 1.25em;
  font-size: 2.5em;
  text-shadow: 1px 1px 3px #969696; }
  header .owl-theme .owl-controls .owl-buttons .owl-prev span {
    transform: scale(1, 2);
    -webkit-transform: scale(1, 2);
    display: inline-block; }
header .owl-theme .owl-controls .owl-buttons .owl-next {
  background: none;
  z-index: 2;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 50%;
  right: 1.25em;
  font-size: 2.5em;
  text-shadow: 1px 1px 3px #969696; }
  header .owl-theme .owl-controls .owl-buttons .owl-next span {
    transform: scale(1, 2);
    -webkit-transform: scale(1, 2);
    display: inline-block; }
header .owl-wrapper-outer {
  height: 100vh;
  overflow: hidden; }
  header .owl-wrapper-outer .owl-wrapper {
    height: 100vh;
    overflow: hidden; }
    header .owl-wrapper-outer .owl-wrapper .owl-item {
      height: 100vh;
      overflow: hidden; }
      header .owl-wrapper-outer .owl-wrapper .owl-item img {
        height: 100vh;
        min-height: calc(100vw * 0.555);
        width: 100%;
        min-width: calc(100vh * 1.8);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }

#sidenav-overlay {
  z-index: 1; }

main form {
  position: relative; }
  main form input[type="search"] {
    border: none;
    border-bottom: 1px solid #ccc;
    margin: 1.25em 0;
    border-radius: 0; }
  main form button[type="submit"] {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 0;
    background: none;
    border: none;
    box-shadow: none;
    transition: .2s; }
    main form button[type="submit"]:hover {
      color: #bcd5d1; }
main .entry-header, main .page-header {
  margin: 2.5em 0;
  background-color: #bcd5d1;
  text-transform: uppercase;
  height: 5.3125em;
  position: relative; }
  main .entry-header h2, main .page-header h2 {
    font-size: 1.5em;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
main .card_artiste {
  height: 600px; }
  main .card_artiste img {
    width: auto;
    height: 100%;
    z-index: -1; }
main .accueil_spectacles {
  margin-top: 8em; }
  main .accueil_spectacles .col {
    height: 43.75em; }
  main .accueil_spectacles div:nth-of-type(1n) .card_artiste {
    margin-top: -1.875em; }
  main .accueil_spectacles div:nth-of-type(2n) .card_artiste {
    margin-top: 1.875em; }
  main .accueil_spectacles .card_artiste {
    height: 29.6875em;
    overflow: hidden;
    position: relative; }
    main .accueil_spectacles .card_artiste img {
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      width: auto;
      height: 100%; }
    main .accueil_spectacles .card_artiste .card_overlay {
      transition: .2s;
      background-color: rgba(90, 92, 81, 0.85);
      padding: 1em 1em 2em;
      position: absolute;
      z-index: 1;
      top: 102%;
      left: 0;
      right: 0;
      bottom: 0; }
      main .accueil_spectacles .card_artiste .card_overlay .wrapper {
        position: relative;
        border: 1px solid #bcd5d1;
        height: 100%; }
      main .accueil_spectacles .card_artiste .card_overlay h3.card_info {
        margin: 0;
        font-size: 1.25em;
        color: #bcd5d1;
        text-transform: uppercase; }
        main .accueil_spectacles .card_artiste .card_overlay h3.card_info span.card_titre {
          display: inline-block;
          margin-top: 1em;
          position: relative; }
          main .accueil_spectacles .card_artiste .card_overlay h3.card_info span.card_titre:before {
            content: "";
            position: absolute;
            width: 80%;
            bottom: -0.9375em;
            left: 10%;
            border-bottom: 2px solid #bcd5d1; }
        main .accueil_spectacles .card_artiste .card_overlay h3.card_info div.card_date {
          margin-top: 1.875em; }
          main .accueil_spectacles .card_artiste .card_overlay h3.card_info div.card_date span.card_jour {
            font-size: 1.9375em; }
      main .accueil_spectacles .card_artiste .card_overlay a.btn {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        background-color: #bcd5d1;
        color: #1d2120; }
        main .accueil_spectacles .card_artiste .card_overlay a.btn:hover {
          background-color: #ba9077; }
    main .accueil_spectacles .card_artiste:hover .card_overlay {
      top: 0; }
main .voir_plus {
  margin-bottom: 4em; }
  main .voir_plus a {
    padding: 1em 2em;
    border: 1px solid #5a5c51;
    color: #1d2120;
    transition: .2s; }
    main .voir_plus a:hover {
      background-color: #ba9077;
      border-color: transparent; }
main .row.row-contact {
  margin: 9.375em 0 6.25em; }
  main .row.row-contact .contact-content div:nth-of-type(1n) .card_contact {
    margin-top: -1.875em; }
  main .row.row-contact .contact-content div:nth-of-type(2n) .card_contact {
    margin-top: 1.875em; }
  main .row.row-contact .contact-content .card_contact h3 {
    margin-top: 0;
    font-size: 1.375em; }
  main .row.row-contact .contact-content .card_contact .img_contact {
    box-shadow: inset 0px 0px 123px 9px rgba(0, 0, 0, 0.75);
    position: relative;
    height: 250px;
    overflow: hidden; }
    main .row.row-contact .contact-content .card_contact .img_contact img {
      z-index: -1;
      position: absolute;
      width: auto;
      min-width: 100%;
      height: 100%;
      left: 50%;
      transform: translateX(-50%); }
  main .row.row-contact .contact-content .card_contact .wrapper {
    background-color: rgba(90, 92, 81, 0.1);
    padding: 1.5em; }
    main .row.row-contact .contact-content .card_contact .wrapper input[type=text], main .row.row-contact .contact-content .card_contact .wrapper input[type=email], main .row.row-contact .contact-content .card_contact .wrapper textarea {
      background-color: rgba(90, 92, 81, 0.05); }
  main .row.row-contact .contact-content .card_contact .contact_info {
    color: #fff;
    background-color: #ba9077;
    padding: 1.5em;
    min-height: 25em; }
    main .row.row-contact .contact-content .card_contact .contact_info ul {
      margin: 0; }
      main .row.row-contact .contact-content .card_contact .contact_info ul a {
        color: #fff;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        transition: .2s; }
        main .row.row-contact .contact-content .card_contact .contact_info ul a:hover {
          border-bottom: 1px solid white; }

.row .dropdown-content li > a, .row .dropdown-content li > span {
  color: #1d2120; }

.acf-map {
  width: 100%;
  height: 100%;
  position: relative; }

footer {
  font-size: 0.875em;
  color: #bcd5d1;
  background-color: #1d2120;
  padding: 3.75em 0 5em; }
  footer .wrapper {
    border: 1px solid #bcd5d1;
    position: relative;
    padding: 0.9375em 5em 3.75em; }
    footer .wrapper h4 {
      font-size: 0.875em;
      text-transform: uppercase;
      border-bottom: 1px solid #bcd5d1;
      padding-bottom: 0.3125em; }
    footer .wrapper ul {
      margin: 0; }
      footer .wrapper ul a {
        color: #bcd5d1;
        border-bottom: 1px solid rgba(188, 213, 209, 0.5);
        transition: .2s; }
        footer .wrapper ul a:hover {
          border-bottom: 1px solid #bcd5d1; }
    footer .wrapper .social {
      display: inline-block;
      margin-top: 1.25em; }
      footer .wrapper .social i {
        margin-left: 0.3125em;
        width: 1.875em;
        height: 1.875em;
        border: 2px solid #bcd5d1;
        border-radius: 50%;
        line-height: 1.875em;
        text-align: center;
        transition: .2s;
        transition: .2s;
        color: #bcd5d1;
        font-size: 1.375em; }
        footer .wrapper .social i:hover {
          color: #ba9077;
          border: 2px solid #ba9077; }
    footer .wrapper .logo_simple {
      position: absolute;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%);
      background-color: #1d2120;
      width: 9.375em;
      text-align: center; }
      footer .wrapper .logo_simple object, footer .wrapper .logo_simple img {
        width: 75%;
        height: auto; }

@media (max-width: 991px) {
  header .slider nav {
    height: 3.75em; }
    header .slider nav img {
      height: 1.875em; }

  footer .wrapper {
    padding: 0.9375em 2.5em 5em; } }
@media (max-width: 599px) {
  footer .col {
    margin-bottom: 1em; }
  footer .social.right {
    float: none !important; } }

/*# sourceMappingURL=style.css.map */
